@keyframes animateBG {
    0% {
        top: 0;
    }
    50% {
        top: $box-h - $view-h;
    }
    100% {
        top: 0;
    }
}

@keyframes animateBox {
    0% {
        @include scale_brs_op(0, $brs, 1);
    }
    2.5% {
        @include scale_brs_op(1.1, ($brs * 3), 1);
    }
    5% {
        @include scale_brs_op(1, $brs, 1);
    }
    96% {
        @include scale_brs_op(1, $brs, 1);
    }
    98% {
        @include scale_brs_op(0, ($brs * 3), 1);
    }
    100% {
        @include scale_brs_op(0, $brs, 1);
    }
}

@keyframes animateBorder {
    0% {
        @include scale_brs_op(0, ($brs * 3), 0);
    }
    2% {
        @include scale_brs_op(0, ($brs * 3), 0);
    }
    18% {
        @include scale_brs_op(1, $brs, 1);
    }
    90% {
        @include scale_brs_op(1, $brs, null);
    }
}

@keyframes animateCircle {
    0% {
        @include scale_brs_op(0, null, 0);
    }
    5% {
        @include scale_brs_op(0, null, 0);
    }
    10% {
        @include scale_brs_op(1.3, null, 1);
    }
    15% {
        @include scale_brs_op(1, null, 1);
        transform: scale(1);
    }
    95% {
        @include scale_brs_op(1, null, 1);
        background-color: transparent;
    }
    97% {
        @include scale_brs_op(1.2, null, 1);
        background: #fff;
    }
    100% {
        @include scale_brs_op(1, null, 1);
    }
}

@keyframes animateFlash {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}