@import 'vars';
@import 'keyframes';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
}

.box {
    height: $box-size;
    width: $box-size;
    overflow: hidden;
    border-radius: $brs;
    position: absolute;
    animation: animateBox $duration * 2 infinite alternate;
    &::after {
        position: relative;
        content: '';
        display: block;
        width: 100%;
        height: $view-h;
        background: linear-gradient( $origin, $color1 0%, $color2 25%, $color3 50%, $color2 75%, $color1 100%);
        animation: animateBG $duration * 2 infinite linear;
    }
}

.logo {
    >div {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 6px solid #fff;
        z-index: 2;
        &.logo-flash {
            border: 5px solid #fff;
            border-radius: $brs * 3;
            right: 23%;
            top: 23%;
            left: auto;
            animation: animateFlash $duration infinite normal;
        }
    }
    &-border {
        width: 74%;
        height: 74%;
        border-radius: $brs;
        margin-top: -3.7rem;
        margin-left: -37%;
        animation: animateBorder $duration infinite alternate;
    }
    &-circle {
        width: 48%;
        height: 48%;
        border-radius: $brs * 3;
        margin-left: -24%;
        margin-top: -24%;
        animation: animateCircle $duration infinite alternate;
    }
}